{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    ul {height:50%;}
</head>
{% load crispy_forms_tags %}
<body>
{% block content %}
<h1>Register Below!</h1>
<div style="position:relative; left:10%; width:65%; height:20%; ">
    <form method="POST" action="/created_account/">{% csrf_token %}
        {{register|crispy}}
        <button  class="btn btn-primary">Create an account.</button>
    </form>
</div>
{% endblock content %}
</body>
</html>